---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="page__hero--overlay" style="background-image: url('images/virtual-cloud-network-banner.jpg');">
      <div class="wrapper" style="text-align:center;">
        <h1 class="page__title" itemprop="headline" style="">
            Virtual Routing with IOS-XR   
        </h1>
          <p class="page__lead" style="font-size: 0.9em;text-align:center;"><b>IOS-XR: One Consistent OS for all your virtual router needs - be it VMs or Containers, Cloud or on-prem, Control-Plane Scalability or high throughput applications - we've got you covered!</b></p>
          <p>
            <a href="https://xrdocs.github.io/cisco-service-layer/tutorials/" class="btn btn--large"><i class='fa fa-step-forward'></i> Get Started!</a>
            <a href="https://www.youtube.com/watch?v=yiN8fAxlfwg" class="btn btn--large" data-lity><i class='fa fa-play-circle-o'></i> Watch Video</a>  
            <a href="https://github.com/cisco-service-layer" class="btn btn--large" data-lity><i class='fa fa-github'></i> Github</a>  
          </p>
      </div>
    </div>

    <div id="main" role="main">
      <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

        <section class="page__content" itemprop="text">
          {{ content }}
        </section>
      </article>
    </div>

    <div class="page__footer">
      <footer>
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
